* { margin:0; padding:0; box-sizing:border-box; }

body {
		background: url(../images/home-page-hero.jpg);
    	background-color: #abd7f4;
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 65px;
		padding-left: 750px;
	}

h1 {font-family: "Ubuntu", sans-serif;
	font-size: 26px;
}

h2 {font-family: "Ubuntu", sans-serif;
	font-size: 1.5em;

}

p { font-family: "Ubuntu", sans-serif;
	font-size: 18px;
	line-height: 28px;
}

a {
	font-family: "Ubuntu", sans-serif;
	font-size: large;
	font-weight: 700;
	color: white;
	line-height: 6pt;
}

ul {
	margin: 0 auto;
	text-align: left;
	text-transform: uppercase;
	line-height: 32px;
	font-family: "Ubuntu", serif;
	padding: 8em;
}

.button {
    background-color: #3f8adb;
    border: none;
    padding:14px;
    width: 230px;
    text-align: center;
    text-decoration: white;
    font-size: 16px;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.3em;
    margin: 20px;
}
	
.button:hover {
    background-color: #3f8adb;
	opacity: 0.5;

}
	