body {
		background: url(images/hero-red-background.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

h1 { font-family: "Ubuntu", sans-serif;
	 font-size: 26px;
	 margin-left: 565px;
}
 
h2 { font-family: "Ubuntu", sans-serif;
	 font-size: 1.5em;
	 margin-left: 565px;

}

p { font-family: "Ubuntu", sans-serif;
	font-size: 18px;
	line-height: 28px;
		 margin-left: 565px;
}

a {
	font-family: "Ubuntu", sans-serif;
	font-size: large;
	font-weight: 700;
	color: white;
	line-height: 6pt;
}

ul {
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	line-height: 30px;
	font-family: "Ubuntu", serif;
	padding: 2em;
	margin-left: 2px;
}

.button {
    background-color: #3f8adb;
    color: white;
    border: none;
    padding:8px;
    width: 230px;
    text-align: left;
    text-decoration: white;
    font-size: 16px;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.3em;
    margin: 20px;
    float: left;
    margin-left: 100px;
}
	
.button:hover {
    background-color: #3f8adb;
	opacity: 0.5;
}

.hamburger {
    position: center;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

}

</body>