* { margin:0; padding:0; box-sizing:border-box; }

body {
    	background-color: #abd7f4;
		background-size: 100%;
		background-repeat: no-repeat;
		padding-top: 65px;
		padding-left: 750px;
	}

}
.page-wrap {
	background: url(../images/home-page-hero.jpg);
	background-size: cover;
	padding-top: 30em;
	padding-bottom: 10em;
}
#background {
	background-size: cover;
	background-attachment: fixed;
}

h1 {font-family: "Ubuntu", sans-serif;
	font-size: 26px;
}

h2 {font-family: "Ubuntu", sans-serif;
	font-size: 1.5em;

}

p { font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}

a {
	font-family: "Ubuntu", sans-serif;
	font-size: large;
	font-weight: 700;
	color: white;
	line-height: 6pt;
}

.button {
    background-color: #3f8adb;
    border: none;
    padding:14px;
    width: 230px;
    text-align: center;
    text-decoration: white;
    font-size: 16px;
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 0.3em;
    margin: 20px;
}
	
.button:hover {
    background-color: #3f8adb;
	opacity: 0.5;

}
	