body {
	text-align: center;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 16px
	font-color: black;
	line-height: 12pt

}

h2{
	font-family: Arial, sans-serif;
	font-size: 4;
	color: black;
	line-height: 8pt

}

p {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: gray;
	line-height: 6pt
}

ul {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: gray;
	line-height: 8pt
} 

a {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-color: black;
	line-height: 6pt
}