body {
	text-align: center;
}

h1 {
	font-family: Arial, sans-serif;
	font-size: 16px
	font-color: black;
	line-height: 12pt

}

h2 {
	font-family: Arial, sans-serif;
	font-size: medium;
	color: black;
	line-height: 8pt

}

hr {
	width: 30%;
	color: black;

}

p {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: gray;
	line-height: 6pt
}

dd {
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	color: gray;
	line-height: 16pt

} 

a {
	font-family: Arial, sans-serif;
	font-size: large;
	font-weight: 700;
	color: orange;
	line-height: 6pt
}