body {
	background-image:url(../images/home_page_hero.jpg);
	background-size: cover;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

h1 {
	font-size: 16px;
	color: black;

}

h2 {
	font-size: 2em;
	color: black;
}

hr {
	width: 35%;
	color: black;
	margin: 1em auto;
}

p {
	font-size: 0.9em;
	

}

dd {
	font-size: 0.9em;
	line-height: 16pt

} 

a {
	font-size: large;
	font-weight: 700;
	color: orange;
	line-height: 6pt
}
